.modal-character {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  &_name {
    text-align: center;
    font-size: 24px;
    margin: 10px;
  }
  &_image {
    border: 10px solid #fff;
    width: 216px;
    height: 324px;
    align-self: center;
    margin: 10px;
  }
  &_desc {
    margin: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
  }
  &_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &_link {
    margin: 5px;
  }
}