.character {
	&_logo {
		cursor: pointer;
		background: #000;
		width: 200px;
		height: 200px;
		box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #000;
		transition: all .2s ease-in-out;
		box-sizing: border-box;
		&:hover {
			border-radius: 0;
		}
		&-not-active,
		&-not-active:hover {
			border-radius: 50%;
		}
	}
	&_name {
		text-align: center;
		margin-top: 10px;
		font-size: 14px;
		font-weight: bold;
	}
}