.lazy-load {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&_image {
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 1s ease;
		transform: rotate(3deg);
		&-loaded {
			transform: rotate(0deg);
			opacity: 1;     
		}
	}
	&_loader {
		position: absolute;
		z-index: 0;
	}
}