.characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;
	&_item {
		flex: 0 0 200px;
		height: 274px;
		margin-bottom: 20px;
	}
	&_no-items {
		font-size: 20px;
    color: #bdbdbd;
    font-style: italic;
	}
}