.modal {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -100%;
  right: 0px;
  bottom: 0px;
  position: fixed;
  background-color: rgba( 0, 0, 0, .5 );
  z-index: 1;
  color: #fff;
  transition: all 0.2s ease;
  background: linear-gradient(270deg, rgba(153, 218, 255, 0) 0%, rgba(151, 212, 248, 0) 5%, #000000 100%);
  &-show {
    left: 0px;
  }
  &_wrapper {
    flex: 0 0 50%;
    background: #000;
    padding: 20px;
    overflow: auto;
  }
  &_close {
    text-align: right;
  }
  &_body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}