.loader {
	display: flex;
	text-align: center;
	justify-content: center;
	&_element {
		border: 16px solid #313131;
		border-top: 16px solid #f2141e;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		animation: spin 1s linear infinite;
		margin: 50px;
		&-small {
			border: 8px solid #313131;
			border-top: 8px solid #f2141e;
			margin: 2px 0;
		}
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}