.field {
	display: flex;
	flex-direction: column;
	padding: 0 10px 10px;
	&_input {
		width: 100%;
	}
	&_notification {
		color: #f1151e;
		font-size: 14px;
		text-align: center;
		min-height: 20px;
		margin-top: 10px;
		text-transform: uppercase;
	}
}