body {
  background: #f5f5f5;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;    
}

.input {
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: none;
  outline: 0;
  outline-width: 0;
  height: 50px;
  transform: skew(-11deg,0);
  text-transform: uppercase;
  &-text,
  &-password,
  &-search {
    &:disabled {
      opacity: 0.5;
    }
  }
  &-btn {
    cursor: pointer;
    background: #f1151e;
    color: #fff;
    padding: 0 20px;
    transition: all .2s ease-in-out;
    &:hover {
      background: #313131;
    }
    &:disabled {
      cursor: no-drop;
      background: #ccc;
   }
  }
  &-search {
    border: 2px solid #000;
  }
}

.alert {
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #b50f15;
  padding: 10px;
  font-style: italic;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.no-elements {
  text-align: center;
  color: #ccc;
}

.link {
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  outline-width: 0;
  transform: skew(-11deg,0);
  text-transform: uppercase;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: #000;
  &:hover {
    background: #313131;
    text-decoration: underline;
    color: #fff;
  }
}

.ul {
  line-height: 1.6;
}